In [1]:
import zzfdemo

In [2]:
from zzfdemo import utils

In [3]:
csv = "./data/us_counties.csv"
utils.csv_to_df(csv)

              GEO_ID  STATE  COUNTY           NAME    LSAD  CENSUSAREA
0     0500000US01029      1      29       Cleburne  County     560.100
1     0500000US01031      1      31         Coffee  County     678.972
2     0500000US01037      1      37          Coosa  County     650.926
3     0500000US01039      1      39      Covington  County    1030.456
4     0500000US01041      1      41       Crenshaw  County     608.840
...              ...    ...     ...            ...     ...         ...
3216  0500000US72131     72     131  San Sebasti�n    Muno      70.423
3217  0500000US72133     72     133   Santa Isabel    Muno      34.023
3218  0500000US72137     72     137       Toa Baja    Muno      23.241
3219  0500000US72139     72     139  Trujillo Alto    Muno      20.764
3220  0500000US72153     72     153          Yauco    Muno      68.192

[3221 rows x 6 columns]